body{
    background-color: royalblue;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 45%;
}
h1{
    color: white;
    text-align: center;
    font-size: 60px;
    font-family: initial;
}
.oferta{

   font-size: 25px;
}
.sorteo{
    display: inline-block;
    font-size: 25px;
     
 }
h3{
    color: rgb(255, 145, 0);
    text-decoration: none;
    padding: 15px;
    font-size: 40px;
    text-align: center;  

}
h4{
    text-decoration: none;
    color: rgb(255, 145, 0);
    padding: 15px;
    font-size: 40px;
    text-align: center;

}
