@media (max-width: $escritorio) {
    #navbar {
        margin-left: 10px;
        margin-top: 10px;

        li {
            a {
                font-size: 17px;
            }
        }

        .bar_search {
            width: 300px;
            height: 27px;

            &::placeholder {
                font-size: 14px;
                font-weight: 600;
            }
        }

        .button_search {
            height: 10px;
            padding-bottom: 27px;
            font-size: 19px;
        }

        .logo {
            width: 150px;
        }
    }
}

@media (max-width: $laptop) {
    #header {
        padding: 10px 14px;

        #navbar {
            margin-left: 0;
            margin-top: 10px;

            li {
                font-size: 30px;
                padding-left: 10px;

                a {
                    font-size: 16px;
                }
            }

            .bar_search {
                width: 250px;
                height: 25px;
                margin-left: 25px;

                &::placeholder {
                    font-size: 14px;
                    font-weight: 600;
                }

            }

            .button_search {
                height: 10px;
                padding-bottom: 25px;
                font-size: 19px;
                margin-right: 10px;
            }

            .logo {
                width: 130px;
            }
        }
    }
}

@media (max-width: $tablet) {
    #header {
        padding: 10px 14px;

        #navbar {
            margin-left: 0;
            margin-top: 10px;

            li {
                a {
                    font-size: 13px;
                }
            }

            .bar_search {

                width: 185px;
                height: 25px;
                margin-left: 25px;

                &::placeholder {
                    font-size: 10px;
                    font-weight: 700;
                }
            }

            .button_search {
                height: 9px;
                padding-bottom: 25px;
                font-size: 17px;
                margin-right: 10px;
            }

            .logo {
                width: 100px;
            }

            .container__footer {
                justify-content: center;
                padding: 72px;

                .box__footer {
                    padding: 72px;
                }
            }
        }
    }
}

@media (max-width: $celular) {
    #header {
        padding: 10px 14px;

        .navegacion {
            #navbar {
                margin-left: 0;
                margin-top: 10px;
                padding: 0;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                padding: 10px;
    
    
                li {
                    font-size: 14px;
                    align-items: center;
                    padding: 5px 0;
    
                    a {
                        font-size: 13px;
                        padding: 5px 0;
                    }
                }
    
                .searchbar-container {
                    display: flex;
                    order: 5;
    
                    .bar_search {
                        width: 185px;
                        height: 25px;
                        border-top-left-radius: 15px;
                        border-bottom-left-radius: 15px;
                        margin-left: 0;
    
                        &::placeholder {
                            align-items: center;
                            text-align: center;
                            font-size: 9px;
                            font-weight: 700;
                        }
                    }
    
                    .button_search{
                        height: 9px;
                        padding-bottom: 25px;
                        font-size: 17px;
                        margin-right: 10px;
                    }
                    .logo {
                        width: 150px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin-bottom: 10px
                    } 
                }
            }
        }
        
    }
    #feature {
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 16px; 
        .box__footer {
            text-align: center;
            padding: 16px; 
        } 
    }
    .vertical {
        display: none;
    }
    .card {
        width: 50% !important;
        .card-body {
            width: 80%;
            .card-title {
                margin-top: 15px;
            }
        }
        
    }
}